@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}
/* common p element styling here*/
#common_description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
}
/* All section margin-bottom here */
section{
    margin-bottom: 120px;
}
/* Header section styling here */
.banner{
    margin-top: 50px;
    padding: 0 344px 177px ;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner-Image.png') no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;


}
.new_year_title{
    margin-top: 177px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.new_year_celebration_title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
}
/* Discount section styling here */
.discount{
    margin: 120px;
    /* border: 1px solid salmon; */
}
.discount_title{
    color: #F00;
    margin-bottom: 48px;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.discount_sub_title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.categories_title{
    color: #070211;
    margin: 16px 0 48px;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.new_year_banner{
    /* border: 1px solid salmon; */
    text-align: center;
}
    /* welcome year section styling here */
.wlc_year_section{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png') no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 67px 124px;
}
.wlc_year_item_title{
    max-width: 642px;
    color: #FFF;
    font-family: Merriweather;
    text-align: left;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}
.wlc_year_item_description{
    max-width: 697px;
    color: rgba(255, 255, 255, 0.80);
    margin: 24px 0 48px;
    font-family: Inter;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.join_btn_one{
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 400ms;
}
.join_btn_one:hover{
 color: #d6d4d4;
}
/* welcome year section styling here */
.wlc_year_section{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png') no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 67px 124px;
}
.wlc_year_item_title{
    max-width: 642px;
    color: #FFF;
    font-family: Merriweather;
    text-align: left;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}
.wlc_year_item_description{
    max-width: 697px;
    color: rgba(255, 255, 255, 0.80);
    margin: 24px 0 48px;
    font-family: Inter;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.join_btn_one{
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 400ms;
}
.join_btn_one:hover{
     color: #d6d4d4;
}
/* Hotel joining section styling here  */
.Join_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 482px;
    border-radius: 16px;
    background: linear-gradient(#FFE7E7, #ffe7e700);
}
.join_item:nth-child(1){
    
}
.join_description{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.Place_date_time{
    color: #F00;
}
.join_item{
    text-align: center;
    
}
.join_now_btn{
    color: #FFF;
    gap: 10px;
    text-align: center;
    padding: 16px 32px;
    margin: 48px auto;
    border: none;
    border-radius: 8px;
    background: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 100ms;
}
.join_now_btn:hover{
    background: rgb(253, 43, 43);
}

/* Coming soon section styling here */

.coming_soon_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_left_title{
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.top_main_title{
    color: #070211;
    margin: 16px 0 22px;
    font-size: 48px;
    font-family: Merriweather;
    font-weight: 900;
    text-transform: capitalize;
}
.coming_soon_team_img{
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 30px;
}

.commin_year_24{
    color: #F00;
    margin-top: 80px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.coming_soon_description{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */ 
}
.coming_soon_description:nth-child(2){
    max-width: 276px;
    margin: 0 auto 20px;
}
.coming_year_img{
    width: 140px;
    height: 140px;
}
/* Awesome portfolio section styling here */
.awesome_portfolio .products{
    display: flex;
    /*row-column still working but row-gap not working */
    gap: 24px;
}
.portfolio_description{
    width: 896px;
}
.product_items{
    margin-top: 24px;
    width: 424px;
    height: 450px;
    border-radius: 16px;
    overflow: hidden;
    /* border: 1px solid ; */
}
.product_items > img{
    width: 100%;
    transition: 400ms ease;
}
.product_items > img:hover{
    transform: scale(1.08);
}
/* Subscribe section styling */
.subscribe_container{
    background: #FF00000D;
    padding: 80px 212px;
    border-radius: 16px;
}
.container_item{
    text-align: center;
}
.subscribe_description{
    max-width: 896px;
    margin: 0 auto 48px;
}
.subscribe {
    display: flex;
}
.subscribe input[type='text']{
    width: 648px;
    padding: 25px 30px;
    border-radius: 50px 0 0 50px;
    color: rgba(7, 2, 17, 0.30);
    border: none;
    outline: none;
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.subscribe input[type='submit']{
    /* height: 72px; */
    position: relative;
    margin-left: -10px;
    padding: 24px 56px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    border: none;
    font-weight: 600;
    text-transform: capitalize;
}